/*
  Base on KNACSS => www.KNACSS.com (2013-10) @author: Raphael Goetter, Alsacreations
*/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height:1.5;
  margin: 0;
}



/* ==========================================================================
   RESET
   ========================================================================== */


/* ==========================================================================
   Mise en forme
   ========================================================================== */

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.inner {
  margin: 0 auto;
  max-width: 61.25em;/*980px*/
}

iframe, img {
  max-width: 100%;
}

img {
  height: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

/* ==========================================================================
   Mise en page
   ========================================================================== */

.dib {
  display: inline-block;
  vertical-align: middle;
}

.dnone {
  display: none;
}

.dtable { display:table }

  .dtable > * { display:row; }

    .dtable > * > * { display:table-cell; }

.accessHide {
  position: absolute;
  top: -99999px;
}

.small {
  font-size:0.8em;
}

.big {
  font-size: 1.2em;
}

/*Colonnes 2, 3 et 4*/

.col2, .col3, .col4 {
  letter-spacing: -0.31em;
}

.col2 > *,  .col3 > *,  .col4 > * {
  display: inline-block;
  letter-spacing: normal;
  margin-left: 1%;
}

  .col2 > * {
    display: inline-block;
    width: 49.5%;
  }

    .col2 > *:nth-child(2n+1) {
      margin-left: 0;
    }

  .col3 > * {
    width: 32.7%;
  }

    .col3 > *:nth-child(3n+1) {
      margin-left: 0;
    }

  .col4 > * {
    width: 24.3%;
  }

    .col4 > *:nth-child(4n+1) {
      margin-left: 0;
    }

/*====== margin + padding =======*/

/*Small margin*/

.mst { margin-top: 0.5em; }

.msb { margin-bottom: 0.5em; }

.mstb { margin: 0.5em 0; }

.msl { margin-left: 0.5em; }

.msr { margin-right: 0.5em; }

.mslr { margin: 0 0.5em; }

/*Medium margin*/

.mmt { margin-top: 1em; }

.mmb { margin-bottom: 1em; }

.mmtb { margin: 1em 0; }

.mml { margin-left: 1em; }

.mmr { margin-right: 1em; }

.mmlr { margin: 0 1em; }

/*Big margin*/

.mbt { margin-top: 1.5em; }

.mbb { margin-bottom: 1.5em; }

.mbtb { margin: 1em 0; }

.mbl { margin-left: 1.5em; }

.mbr { margin-right: 1.5em; }

.mblr { margin: 0 1em; }

/*Small padding*/

.pst { padding-top: 0.5em; }

.psb { padding-bottom: 0.5em; }

.pstb { padding: 0.5em 0; }

.psl { padding-left: 0.5em; }

.psr { padding-right: 0.5em; }

.pslr { padding: 0 1em; }

/*Medium padding*/

.pmt { padding-top: 1em; }

.pmb { padding-bottom: 1em; }

.pmtb { padding: 1em 0; }

.pml { padding-left: 1em; }

.pmr { padding-right: 1em; }

.pmlr { padding: 1em; }

/*Big padding*/

.pbt { padding-top: 1.5em; }

.pbb { padding-bottom: 1.5em; }

.pbtb { padding: 1em 0; }

.pbl { padding-left: 1.5em; }

.mbr { padding-right: 1.5em; }

.pbtb { padding: 0 1em; }

